
.pokemon{
    height: 300px;
    padding: 0px 40px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.pokemon:hover{
    background-color: var(--primary);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: underline;
}

.pokemon-image{
    width: 220px;
    height: 220px;
}

.pokemon-name{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}